<p>
  <%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary text-center float-right' %>
</p>

<p>
  <strong> <%= comment.commenter %> </strong>
</p>
 
<p>
  <%= comment.body %>
</p>

<br>