<%= content_for(:title, 'The News.pk! The best place for all of your news!') %>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="<%= url_for new_user_registration_path %>"> Sign Up </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="<%= url_for new_user_session_path %>"> Log In </a>
    </li>
  </ul>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <h1> A Random Articles website with Comments! </h1>
  <p> You can see articles and you can see comments </p> 
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <h3> Articles </h3>
      <p> We have got a lot of articles </p>
    </div>
    <div class="col-sm-4">
      <h3> Comments </h3>
      <p> We have got a lot of comments </p>
    </div>
    <div class="col-sm-4">
      <h3> Excellence </h3> 
      <p> We have a lot of excellence </p>
    </div>
  </div>
</div>
